---
import Base from "../layouts/Base.astro";
import Hyperlink from "../components/Hyperlink.astro";
---

<Base title="home" header="about me!">
  <p>
    Hello there!! My name is Lucia! I'm a programmer, and typically I work with
    low level languages and robotics, although I can also work with fullstack
    development, low-end data science, and machine learning. I enjoy studying
    linguistics as well, especially the fields of morphology and syntax!
  </p>

  <div class="flex justify-center">
    <Hyperlink destination="https://github.com/saturnaliam" text="Github" />
    <Hyperlink
      destination="https://www.speedrun.com/user/Lucia"
      text="Speedrunning"
    />
    <Hyperlink destination="mailto: llcsaturnaliam@gmail.com" text="Email" />
  </div>
</Base>
