---
import Base from "../layouts/Base.astro";
import Hyperlink from "../components/Hyperlink.astro";
---

<Base title="home" header="about me">
  <p>
    hello there!! my name is lucia! i'm a programmer, and typically I work with
    low level languages and robotics. i enjoy studying
    linguistics as well, especially the fields of morphology and syntax!
  </p>

  <div class="flex justify-center">
    <Hyperlink destination="https://github.com/saturnaliam" text="github" />
    <Hyperlink
      destination="https://www.speedrun.com/user/Lucia"
      text="speedrunning"
    />
    <Hyperlink destination="mailto: llcsaturnaliam@gmail.com" text="email" />
  </div>
</Base>
