---
import Navbar from "../components/Navbar.astro";
import Normal from "../components/Normal.astro";
import Tainted from "../components/Tainted.astro";
---

<html class="bg-zinc-900">
  <head>
    <title>TBOI Completions</title>
  </head>

  <body>
    <Navbar />

    <article>
      <Normal />
    </article>

    <br /><br />

    <article>
      <Tainted />
    </article>
  </body>
</html>
