---
import Tainted from "../components/Tainted.astro";
---

<html class="bg-zinc-900">
  <h1 class="flex justify-center text-5xl font-bold text-zinc-300 pb-5 pt-3">
    Tainted Characters
  </h1>

  <Tainted />

</html>
