---
import Check from "./Check.astro";
import Cross from "./Cross.astro";
interface Props {
  boss: string;
  completed?: number;
}

const { boss, completed = 0 } = Astro.props;
---

<li class="flex items-center justify-center">
  {completed > 0 ? <Check name={boss} /> : <Cross name={boss} />}
</li>
