---
import NavComp from "./NavComp.astro";
---

<div class="drop-shadow rounded sticky top-0">
  <nav class="border-zinc-200 bg-zinc-900">
    <div
      class="max-w-screen-xl flex flex-wrap items-center justify-around mx-auto p-4"
    >
      <button
        data-collapse-toggle="navbar-default"
        type="button"
        class="inline-flex items-center p-2 ml-3 text-sm text-zinc-500 rounded-lg md:hidden hover:bg-zinc-100 focus:outline-none focus:ring-2 focus:ring-zinc-200 dark:text-zinc-400 dark:hover:bg-zinc-700 dark:focus:ring-zinc-600"
        aria-controls="navbar-default"
        aria-expanded="false"
      >
        <span class="sr-only">Open main menu</span>
      </button>
      <div class="hidden w-full md:block md:w-auto" id="navbar-default">
        <ul
          class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-zinc-100 rounded-lg bg-zinc-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white dark:bg-zinc-800 md:dark:bg-zinc-900 dark:border-zinc-700"
        >
          <NavComp name="Home" link="/" />
          <NavComp name="TBOI Completions" link="/tboi" />
        </ul>
      </div>
    </div>
  </nav>
</div>
