---
import Completions from "./Completions.astro";
import SHR from "./SHR.astro";
---

<h1 class="flex justify-center text-5xl font-bold text-zinc-300 pb-5 pt-3">
	Non-Tainted Characters
</h1>
<div class="grid grid-cols-4">
	<Completions completions="217" character="Isaac" />
	<Completions completions="66" character="Magdalene" />
	<Completions completions="65" character="Cain" />
	<Completions completions="2048" character="Judas" />
	<SHR />
	<Completions completions="0" character="???" />
	<Completions completions="0" character="Eve" />
	<Completions completions="65" character="Samson" />
	<Completions completions="767" character="Azazel" />
	<SHR />
	<Completions completions="65" character="Lazarus" />
	<Completions completions="9" character="Eden" />
	<Completions completions="1535" character="The Lost" />
	<Completions completions="0" character="Lilith" />
	<SHR />
	<Completions completions="0" character="Keeper" />
	<Completions completions="0" character="Apollyon" />
	<Completions completions="0" character="The Forgotten" />
	<Completions completions="0" character="Bethany" />
	<SHR />
	<div class="col-span-4">
		<Completions completions="0" character="Jacob & Esau" />
	</div>
</div>
