---
import Navbar from "../components/Navbar.astro";
interface Props {
  title: string;
  header: string;
}

const { title, header } = Astro.props;
---

<hmtl lang="en" class="bg-zinc-900">
  <head>
    <title>{title}</title>

    <style>
      body {
        text-align: center;
        --tw-bg-opacity: 1;
        background-color: rgb(24 24 27 / var(--tw-bg-opacity));
      }
    </style>
  </head>

  <body>
    <Navbar />
    <h2 class="flex justify-center text-5xl font-bold text-zinc-300 pb-5 pt-3">
      {header}
    </h2>

    <div class="flex justify-center text-xl font-lg space-y-1">
      <main class="w-3/5 text-zinc-300">
        <div class="w-full h-96 px-10">
          <slot />
        </div>
      </main>
    </div>
  </body>
</hmtl>
